.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border:1px solid #ccc;
  border-radius:4px;
}
.btn-group > .btn {
  position: relative;
  float: left;
  border-left:1px solid #ccc;
}
.btn-group > .btn:hover {
  z-index: 2;
}
.btn-group > .btn:not(:first-child):not(:last-child), .btn-group > .btn:not(:first-child):not(:last-child):after {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  border:none;
}
.btn-group > .btn:first-child:not(:last-child),
.btn-group > .btn:first-child:not(:last-child):after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .btn:last-child:not(:first-child):after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.segment-ctrl .btn[selected] {
    background:#434343;
    color:#fff;
}
