/*GLOBAL BADGE STYLES*/

.badge {
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    border-radius: 2rem;
    display: inline-block;
    text-transform: uppercase;
    margin-right:.5rem;
    width: auto;
    line-height: 1;
    vertical-align: middle;
}

.badge-sd {
    border: none;
    color: #fff;
}

.badge-ol {
    color: #333;
    border: 1px solid #434343;
    background: none;
}

.badge-sm {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
}

.badge-md {
    font-size: 1.1rem;
    padding: 0.6rem 1.5rem;
}

.badge-lg {
    font-size: 1.3rem;
    padding: 0.6rem 2rem;
}

.badge-gray {
    background: #e8e8e8;
    border: 1px solid #CCCCCC;
    color: #222222;
}

.badge-ol.badge-gray {
    background: none;
}

.badge-ol.badge-yellow {
    border-color: #FFBF00;
    color: #222222;
}

.badge-ol.badge-red {
    border-color: #C90107;
    color: #A20106;
}

.badge-ol.badge-green {
    border-color: #238723;
    color: #196119;
}

.badge-ol.badge-teal {
    border-color: #41B1C8;
    color: #2F8090;
}

.badge-ol.badge-orange {
    border-color: #F67500;
    color: #B85300;
}

.badge-sd.badge-yellow {
    background-color: #FFBF00;
    color: #222222;
}

.badge-sd.badge-red {
    background-color: #C90107;
}

.badge-sd.badge-green {
    background-color: #238723;
}

.badge-sd.badge-teal {
    background-color: #41B1C8;
}

.badge-sd.badge-orange {
    background-color: #F67500;
}
