/* Dark Subnav  */

.sub-nav {
    background:#222;
    padding:0 2rem;
    margin:0;
}

.sub-nav a {
    margin: 0;
    color: #fff;
    font-weight: 700;
    padding: 0.75rem 2rem;
    display: block;
    width: auto;
    float: left;
    transition: background-color .2s ease;
    border-left: 1px solid #434343;
}

.sub-nav a:last-of-type {
    border-right:1px solid #434343;
}

.sub-nav a:hover {
    background:#434343;
    text-decoration:none;
}

.sub-nav a.active {
    background:#C90107;
}

/* Light Subnav  */

.sub-nav-light {
	border-bottom: 1px solid #ccc;
    background: none;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.sub-nav-light a {
    border: 0 none;
    width: auto;
    margin-bottom: 0;
    padding: 0.8rem 1.2rem;
    border-top: 0 none;
    margin-right: 0.7rem;
    background: none;
    color: #666666;
    position: relative;
}

.sub-nav-light a:after {
    background: #C90107;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    -ms-transform: translate(0,3px);
    transform: translate3d(0,3px,0);
    transition: transform 0.3s cubic-bezier(0.4,1,0.4,1);
    width: 100%;
}

.sub-nav-light a:hover {
    background: none;
}

.sub-nav-light a:hover:after,
.sub-nav-light a.active:after {
    transform: translate3d(0,0,0);
}

.sub-nav-light a.active {
    color: #222;
    background: none;
}

.sub-nav-light a.active:hover {
    cursor: default;
    background: none;
}

.sub-nav-light a:last-of-type {
    border: 0 none;
}

.sub-nav-light > li:last-child {
	border-right: 1px solid #ddd;
}
