extends ../../_layouts/base

include ../../_modules/modals/modals

block content
  p
    a(href='../../dashboard') Dashboard

  button.btn.btn-md.btn-secondary(type='button', data-toggle='modal', data-target='#defaultModal') Launch Default Modal


  +modals()
